<h1>Edit password</h1>

<%= form_with model: @user,  url: profile_update_password_path  do |form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |message|%>
      <div> <%= message %></div>
      <%end %>
    </div>
    <%end %>
  <div class="row justify-content-start">
    <div class="col-2">
      <span for="InputOldPassword1" class="col-form-label">Old password</span>
    </div>
    <div class="col-3">
      <%= form.password_field :old_password, class: "form-control", id: "InputOldPassword1", 'aria-describedby': "emailHelp"%>
    </div>
  </div>
    <div class="row justify-content-start">
      <div class="col-2">
        <span for="InputNewPassword1" class="col-form-label">New password</span>
      </div>
      <div class="col-3">
        <%= form.password_field :password, class: "form-control", id: "InputNewPassword1"%>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-2">
        <span for="InputConfirmPassword1" class="form-label">Confirm password</span>
      </div>
      <div class="col-3">
        <%= form.password_field :password_confirmation, class: "form-control", id: "InputConfirmPassword1"%>
      </div>
    </div>
  <button type="submit" class="btn btn-primary">Update</button>
<% end %>
