<h1>Sign Up</h1>

<%= form_with model: @user,  url: sign_up_path  do |form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% p @user.errors.full_messages %>
      <% @user.errors.full_messages.each do |message|%>
      <div> <%= message %></div>
      <%end %>
    </div>
    <%end %>
  <div class="row justify-content-start">
<!--      <div class="row g-3 align-items-center d-flex justify-content-start">-->
    <div class="col-2">
      <label for="InputEmail1" class="col-form-label">Email address</label>
    </div>
    <div class="col-3">
      <%= form.text_field :email, class: "form-control", id: "InputEmail1", 'aria-describedby': "emailHelp"%>
    </div>
    <div class="col-auto">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
<!--      </div>-->
  </div>
    <div class="row justify-content-start">
      <div class="col-2">
        <label for="InputFullName1" class="col-form-label">Full name</label>
      </div>
      <div class="col-3">
        <%= form.text_field :full_name, class: "form-control", id: "InputFullName1"%>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-2">
        <label for="InputPhoneNumber1" class="form-label">Phone number</label>
      </div>
      <div class="col-3">
        <%= form.phone_field :phone_number, class: "form-control", id: "InputPhoneNumber1"%>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-2">
        <label for="InputPassword1" class="form-label">Password</label>
      </div>
      <div class="col-3">
        <%= form.password_field :password, class: "form-control", id: "InputPassword1" %>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-2">
        <label for="InputConfirmPassword1" class="form-label">Confirm password</label>
      </div>
      <div class="col-3">
        <%= form.password_field :password_confirmation, class: "form-control", id: "InputConfirmPassword1" %>
      </div>
    </div>

  <button type="submit" class="btn btn-primary">Sign Up</button>
<% end %>>
