<h1>Expense group</h1>

<%= form_with model: @expense,  url: group_expenses_path do |form| %>
  <% if @expense.errors.any? %>
    <div class="alert alert-danger">
      <% @expense.errors.full_messages.each do |message|%>
      <div> <%= message %></div>
      <%end %>
    </div>
    <%end %>
  <div class="row justify-content-start">
    <div class="col-2">
      <label for="InputTitle1" class="col-form-label">Title</label>
    </div>
    <div class="col-3">
      <%= form.text_field :title, class: "form-control", id: "InputTitle1"%>
    </div>
  </div>
    <div class="row justify-content-start">
      <div class="col-2">
        <label for="InputTotal1" class="col-form-label">Total</label>
      </div>
      <div class="col-3">
        <%= form.text_field :total, class: "form-control", id: "InputTotal1"%>
      </div>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-2">
      <label for="InputDescription1" class="col-form-label">DateTime</label>
    </div>
    <div class="col-3">
      <%= form.datetime_field :date_time, class: "form-control", id: "InputDescription1"%>
    </div>
  </div>
    <%= button_to "Add expense", group_expenses_path, method: :post %>
<% end %>